.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ruvim-noga.jpg);
    background-size: cover;
    background-position: center center;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.menu {
    text-decoration: none !important;
    color: white;
    font-size: .875rem;
}

.btn-str {
    background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
}

.btn-str:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}

li {
    padding: 10px;
    font-size: 20px;
}

.social {
    background-color: #e14eca;
    color: white;
    font-size: 1em;
}

.social:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transform: translateY(0.5px);
}

.card {
    background: none !important;
    border: none !important;
    border-radius: 7px !important;
}

.card-title {
    color: #ba54f5;
    font-weight: 400;
    font-size: 1.0625rem;
}

.card-title:hover {
    color: #e14eca;
}

.card-text {
    color: hsla(0, 0%, 100%, .6);
    line-height: 22px;
    font-size: 14px;
}

.tim-ic {
    color: #525f7f;
    font-size: 14px;
}

.profile-ic {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}

.categories {
    color: #e14eca;
    font-size: 12px;
    padding-top: 10px;
}

.card-container {
    transform: translateY(-50px);
}

.container-fluid {
    background-color: #171941;
}

.icon2 {
    width: 50px;
}

.sty-1 {
    background-image: url(../images/stry1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    position: relative;
    border-radius: 5px;
}

.sty-4 {
    background-image: url(../images/stry2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;
}

.sty-2 {
    background-image: url(../images/stry3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;
}

.sty-3 {
    background-image: url(../images/srty4.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;
}

.stry-text {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.card-img {
    background-image: linear-gradient(310deg, #efdcdc47, #343532c2), url(../images/mike.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.card-img2 {
    background-image: linear-gradient(310deg, #efdcdc47, #343532c2), url(../images/christian.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.card-img3 {
    background-image: linear-gradient(310deg, #efdcdc47, #343532c2), url(../images/johana.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.card-au {
    box-shadow: 1px -1px 8px 5px #293a67;
}

.author::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 35px;
    background-color: #e14eca;
    margin: auto;
    top: -10px;
    right: 15px;
}

.btn-footer {
    align-content: center;
    font-size: 28px;
    padding: 20px 55px;
}

.btn-footer::after {
    content: "";
    position: absolute;
    height: 84px;
    width: 1px;
    background-color: #525f7f;
    right: 8px;
    top: 0;
}

.btn-twitter {
    color: #3ea1ec;
    border-color: #3ea1ec;
}

.btn-facebook {
    color: #0732b5;
    border-color: #0732b5;
}

.btn-gogle {
    color: #d73925;
    border-color: #d73925;
}

.btn-drible {
    border-color: #ed679b;
    color: #ed679b;
}

.btn-ytb {
    border-color: #d73925;
    color: #d73925;
}

.btn-inst {
    border-color: #1667a3;
    color: #1667a3;
}

.card-raised {
    background-color: rgb(82, 95, 127);
    box-shadow: 0px -1px 9px 0px black;
}

.subcr:hover {
    transform: translateY(-2px);
}

.bg-main {
    background-color: rgb(225, 78, 202);
}

.ft-link {
    display: table-row;
    font-size: 13px;
    color: white;
    line-height: 40px;
}

.ft-link a {
    color: white;
    text-decoration: none;
}

.title {
    font-size: 23px !important;
}

.btn-ft {
    color: white;
    padding: 8px;
    border: 1px solid white;
}

a {
    color: white;
}

a:hover {
    color: white;
}