.main {
    background-image: linear-gradient(360deg, #6f695f6b, #5241418c), url(../images/ruvim-noga.jpg);
    background-size: cover;
    background-position: center center;
}

* {

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

li {
    padding: 10px;
    font-size: 20px;
}

.social {
    background-color: #e14eca;
    color: white;
    font-size: 20px;

}

.social:hover {
    box-shadow: 0px 3px 8px 0px #191c1fed;
}



.card {
    background: none !important;
    border: none !important;
}

.card-title {
    color: #ba54f5;
    font-weight: 400;
    font-size: 19px;


}

.card-title:hover {
    color: #e14eca;

}

.card-text {
    color: hsla(0, 0%, 100%, .6);
    line-height: 22px;
    font-size: 14px;
}

.categories {
    color: #e14eca;
}

.card-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -60px;
    z-index: 100;
}

.container-fluid {
    background-color: #344675;
}

.icon2 {
    width: 50px;
}

.sty-1 {
    background-image: url(../images/stry1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    position: relative;
    border-radius: 5px;
}

.sty-4 {
    background-image: url(../images/stry2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;

}

.sty-2 {
    background-image: url(../images/stry3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;


}

.sty-3 {
    background-image: url(../images/srty4.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;


}

.stry-text {
    position: absolute;
    bottom: 5px;
    left: 10px;

}
