.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ruvim-noga.jpg);
    background-size: cover;
    background-position: center center;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.menu {
    text-decoration: none !important;
    color: white;
    font-size: .875rem;
}

.btn-str {
    background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
}

.btn-str:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}

li {
    padding: 10px;
    /*    font-size: 15px;*/
}

.social {
    background-color: #e14eca;
    color: white;
    font-size: 18px;
}

.social:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transform: translateY(0.5px);
}

.card {
    background: #1f2251 !important;
    border: none !important;
}

.raise-img {
    border-radius: 7px !important;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
    height: 380px;
}

.img-shadow {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}

.card-title {
    color: #ba54f5;
    font-weight: 400;
    font-size: 1.0625rem;
}

.card-title:hover {
    color: #e14eca;
}

.card-text {
    color: hsla(0, 0%, 100%, .6);
    line-height: 22px;
    font-size: 14px;
}

.tim-ic {
    color: #525f7f;
    font-size: 14px;
}

.blog {
    padding-top: 70px;
}

.blog-h1 {
    font-weight: 600;
    font-size: 33px;
    color: rgba(255, 255, 255, 0.8);
}

.T-card {
    font-size: 23px;
    font-weight: 300;
    color: #e14eca;
}

.profile-ic {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}

.categories {
    color: #e14eca;
    font-size: 12px;
    padding-top: 10px;
}

.card-container {
    transform: translateY(-50px);
}

.container-fluid {
    background-color: #171941;
}

.icon {
    padding-bottom: 90px;
}

.icon2 {
    width: 50px;
}


.sty-1 {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../images/stry1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 100%;
    height: 430px;
    position: relative;

}

.sty-1:hover {
    transform: scale(1.09);
    transition-delay: 0.5;
    transition-duration: 0.8s;
    z-index: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/stry1.jpg);
}

.sty-4 {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../images/stry2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;
}

.sty-4:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    z-index: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/stry2.jpg);
}

.sty-2 {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../images/stry3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;
}

.sty-2:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    z-index: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/stry3.jpg);
}

.sty-3 {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../images/srty4.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;
}

.sty-3:hover {
    transform: scale(1.07);
    z-index: 2;
    transition-duration: .8s;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/srty4.jpg);
}

.stry-text {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.card-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/mike.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
    border-radius: 7px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}

.card-img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/christian.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
    height: 350px;
}

.card-img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/johana.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    border-radius: 7px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}

.card-au {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1);
}

.author::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 35px;
    background-color: #e14eca;
    margin: auto;
    top: -10px;
    right: 15px;
}

.btn-footer {
    align-content: center;
    font-size: 28px;
    padding: 20px 60px;
    border-radius: .4285rem;
    background: none;

}

.btn-footer::after {
    content: "";
    position: absolute;
    height: 84px;
    width: 1px;
    background-color: rgba(131, 158, 195, 0.3);
    right: 0px;
    top: 23px;
}

#lsticon::after {
    height: 0;
    width: 0;
    background-color: pink;
}

.btn-twitter {
    color: #3ea1ec;
    border-color: #3ea1ec;
}

.btn-facebook {
    color: #0732b5;
    border-color: #0732b5;
}

.btn-gogle {
    color: #d73925;
    border-color: #d73925;
}

.btn-drible {
    border-color: #ed679b;
    color: #ed679b;
}

.btn-ytb {
    border-color: #d73925;
    color: #d73925;
}

.btn-inst {
    border-color: #1667a3;
    color: #1667a3;
}

.card-raised {
    background-color: #1f2251;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1);
    border-radius: 7px;
    color: white !important;

}

.subbtn {
    font-size: .875rem;
    font-weight: 400;
}

.border-light {
    border: .0625rem solid rgba(179, 179, 179, 0.23) !important;
    border-radius: .2857rem;
}

.border-green {
    border: .0625rem solid rgba(225, 78, 202, 0.8) !important;
    border-radius: .2857rem;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.emaildata {
    font-size: .75rem;
    color: white !important;
}

.focusicon:focus {
    border: none !important;
    box-shadow: none;
}

.subcr:hover {
    transform: translateY(-2px);
}

.news {
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    line-height: 24.65px;
    font-weight: 600;


}

.news-text {
    color: rgb(154, 154, 154);
    font-size: 15.96px;
    line-height: 23.94px;
    font-weight: 300;
}

.bg-main {
    background-color: rgb(225, 78, 202);
}

.ft-link {
    display: table-row;
    font-size: 12px;
    color: white;
    line-height: 4.1;
    padding: 10px 5px;
}

.ft-link a {
    color: white;
    text-decoration: none;
}

.title {
    font-size: 23px !important;
}

.btn-ft {
    color: white;
    padding: 8px;
    border: 1px solid white;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.trend {
    font-size: 27px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 32px;
}

.primary-line {
    background-color: #e14eca;
    height: 1px;
    width: 10%;
    margin-right: 0;
    margin-left: auto;
}

.job-title {
    text-align: right;
    margin-bottom: 10px;
    color: hsla(0, 0%, 100%, .8);
    line-height: 1.4em;
    font-weight: 400;
    font-size: 1.4375rem;
}

.table td {
    border: none;
    padding: 7px;
    padding-right: 0;
    color: hsla(0, 0%, 100%, .7);
    vertical-align: middle;
    font-size: 14px;
}

.table td i {
    margin-right: 5px;
    font-size: 17px;
    color: #e14eca;
    margin-top: -3px;
}

.ft-flw {
    color: hsla(0, 0%, 100%, .8);
    font-weight: 600;
    font-size: 25px;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    color: #9a9a9a;
    padding-top: .6rem;
    padding-bottom: .6rem;
    margin-top: 2px;
    clear: both;
}

.dropdown-menu::before {
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: -5px;
    left: 10px;
    right: auto;
    color: white;
    display: inline-block;
    border-bottom: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent;
}
